/*global styles*/
html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/*navbar styles*/
nav {
    height: 80px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

nav img {
    height: 90px;
    width: auto;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width: 100%;
    background: white;
    top: 0px;
    padding: 20px;
    box-sizing: border-box;
     z-index: 2;
}
#homepage {
top: 100px;
}

#hamburger {
    display: none;
    z-index: 1;
}

#overlay {
    display:none ;
}

/* Navbar Desktop Styles */

@media (min-width:768px) {
    nav {
        padding: 0 40px;
    }
    nav ul {
        display: flex;
        max-width: 600px;
        width: 100%;
        justify-content: space-between;
    }
}


/*Navbar Mobile Styles*/
@media (max-width:767px) {
    nav {
        padding: 0 20px;
    }
nav ul {
    display: none;
    max-width: 50vw;
    width: 100%;
    height: 100vh;
    background:#FD9D00 ;
    position:fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

nav ul.show {
    display: block;
}

#hamburger {
    display: block;
    height: 30px;
    width: auto;
    top: 25%;
}
#overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background:#FD9D00;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

}
#overlay.show {
    display: block;
}
    nav ul li {
        padding: 20px;
    }
}


/*header styles*/
h1 {
    font-size: 30px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding: 70px;
}

.credits {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 70px;
}
@media (max-width:767px) {
    .center {
        padding: 0;
    }

}
/*article styles*/
article {
    margin-left: 200px;
    margin-right: 300px;
}

article >img {
    width:30%;
    float: right;
    margin: 20px;
    margin-top: 0;
}

.center-lines {
    font-size: 20px;
    text-align: center;
}
.orange {
    color: #FD9D00;
    font-size: 19px;
}

h4 {
 color: #7D0000;
}

 /*mobile styles*/
 @media (max-width:768px) {
     article {
         margin-left: 10px;
     }
     
     .humans {
        width: 400px;
        height: auto;
     }
  
}   
/*image styles*/
.humans {
   width: 700px;
   margin: 0;
}

/*video styles*/ 
.video-bg {
 max-width: 100%;
 height: auto;
 object-fit: cover;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
} 

iframe {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
/*faq styles*/
.accordion {
    background-color:#FD9D00 ;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,.accordion:hover {
    background-color: #ff6000;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding:15px;
}


