/*global styles*/
html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*navbar styles*/
nav {
    height: 80px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

nav img {
    height: 90px;
    width: auto;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    width: 100%;
    background: white;
    top: 0px;
    padding: 20px;
    box-sizing: border-box;
     z-index: 2;
}
#homepage {
top: 200px;
align-items: unset;
}

/* Navbar Desktop Styles */

@media (min-width:768px) {
    nav {
        padding: 0 40px;
    }
    nav ul {
        display: flex;
        max-width: 600px;
        width: 100%;
        justify-content: space-between;
    }
}


/*Navbar Mobile Styles*/
@media (max-width:767px) {
    nav {
        padding: 0 20px;
    }
nav ul {
    max-width: 40vw;
    width: 100%;
    height: 100vh;
    background:#FD9D00 ;
    position:fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    

}
    nav ul li {
        padding: 20px;
    }
}


/*header styles*/
h1 {
    font-size: 30px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding: 70px;
}

/*article styles*/
article {
    max-width: 900px;
}
/*image styles*/

/*video styles*/
.video-bg {
 width: 100vh;
 height: 100vh;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}





